/* текст заголовков h2, h3, списка nav,  #212121 */
/* подписи под заголовками, верхний телефон 
и емейл, профессия #757575 */
/* Цвет конопок, вспомогательный цвет  #ffffff */
/* основной синий цвет, для ховерка и фокуса  #2196f3 */

/* Project fonts */
/* font-family: Roboto;
font-style: normal;
font-weight: 500;

font-family: Roboto;
font-style: normal;
font-weight: 900;

font-family: Roboto;
font-style: normal;
font-weight: 700;

font-family: Roboto;
font-style: normal;
font-weight: 400;

font-family: Raleway;
font-style: normal;
font-weight: 700; */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --main-blue-color: #2196f3;
  --bg-main-color: #2f303a;
  --bg-secondary-color: #f5f4fa;
  --border-main-color: #eeeeee;
}

/* for all page  */
body {
  font-family: Roboto, sans-serif;
}

h2,
h3 {
  color: var(--primary-text-color);
}

/* main container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid red;
}

/* !header */
/* Flex items for header */
.nav-flex {
  display: flex;
  align-items: center;
}

.header-flex {
  display: flex;
  align-items: center;
}

/* ?Logo */
.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo .web {
  color: var(--main-blue-color);
}

.logo .studio-black {
  color: var(--primary-text-color);
}
/* ?CLOSED Logo */

/* ?nav-list */
.nav-list {
  display: flex;
  margin-top: 0;
  margin-left: 93px;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list > .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
}

/* active page */
.link.active {
  color: var(--main-blue-color);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--main-blue-color);
}
/* ?CLOSED nav-list */

/* ?contacts info */
.contacts {
  margin-left: auto;
}

.contacts .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link:not(:last-child) {
  margin-right: 50px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--main-blue-color);
}
/* !CLOSED contacts info */
/* !CLOSED header */

/* !main part */
/* !hero */
.hero {
  background: var(--bg-main-color);
  text-align: center;
}

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--third-text-color);
}

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .link {
  background-color: var(--main-blue-color);
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
}
/* !CLOSED hero */

/* !advantages list */
.adv .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.adv-title {
  margin: 0;
  padding: 0;
}

.advantages {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages .text {
  margin: 0;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* !CLOSED advantages list */

/* !Чем мы занимаемся */
.work .container {
  padding-bottom: 94px;
}

.work .title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.work .list {
  margin: 0;
  padding: 0;

  list-style: none;
}
/* !CLOSED Чем мы занимаемся */

/* !Наша команда */
.team {
  background: var(--bg-secondary-color);
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.team .list-block {
  padding-bottom: 30px;
  width: 270px;
  height: 368px;
  outline: 1px solid green;
}

.team .list-img {
  margin-bottom: 30px;
}

.team .list-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team .list-text {
  margin: 0;
  text-align: center;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* !CLOSED Наша команда */

/* !Футер */
footer {
  background: var(--bg-main-color);
}

.logo .studio-white {
  color: var(--third-text-color);
}

.company-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.company-address .map {
  color: var(--third-text-color);
}

.company-address .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* !CLOSED Футер */

/* Страница - "Портфолио" */

/* !Список-фильтр */
.works .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works .works-title {
  margin: 0;
}

.works .filter {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-link {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  background-color: #f5f4fa;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-link:hover,
.filter-link:focus {
  background-color: var(--main-blue-color);
  color: var(--third-text-color);
}

/* Примеры работ */
.examples {
  margin: 0;
  padding: 0;
  list-style: none;
}

.examples .examples-list {
  width: 370px;
  height: 404px;
  padding-bottom: 20px;
  border: 1px solid var(--border-main-color);
}

.examples-link {
  display: block;
  text-decoration: none;
}

.examples-img {
  margin-bottom: 20px;
}

.examples-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-text {
  margin: 0;

  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
